<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Extracting: COLLECTION_NAME</title>
</head>
<body>
<div>Extracted SUCCEEDED out of TOTAL new texts. This window can now be closed.</div>
<script>
    var element = document.createElement("PaperMachinesDataElement");
    element.setAttribute("refresh", true);
    document.documentElement.appendChild(element);

    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("papermachines-request", true, false);
    element.dispatchEvent(evt);
</script>
</body>
</html>