<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Extracting: COLLECTION_NAME</title>
    <script type="text/javascript" src="DATA_PATH"></script>
</head>
<body>
<p id="extracted"></p>
<div>
	<p>If this is the first extraction completed on your machine, you may need to restart Firefox/Zotero Standalone (and/or click on a different collection from the one you extracted, then on the original one) for the visualization tools to become accessible.</p>
	<br/>
	<p>This window can now be closed.</p>
</div>
<script>
    var p = document.getElementById("extracted");
    p.textContent = "Extracted " + data["SUCCEEDED"] + " out of " + data["TOTAL"] + " new texts.";
</script>
</body>
</html>