<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" />
    <title>Geoparser: COLLECTION_NAME</title>
    <script type="text/javascript" src="support/d3.js"></script>
    <script type="text/javascript" src="support/html5slider.js"></script>
    <script type="text/javascript" src="support/colorbrewer.js"></script>
    <link type="text/css" rel="text/stylesheet" href="support/button.css"/>
    <link type="text/css" rel="text/stylesheet" href="support/flightpaths.css"/>
    <script type="text/javascript" src="DATA_PATH"></script>
  </head>
  <body>
    <div id="body">
      <div id="searches"><label for="searchTime" value="Time:"><input type="range" id="searchTime"/></label><span id="timeDisplay"></div></div>
    </div>
    <script type="text/javascript">
    var linksByYear = data["LINKS_BY_YEAR"];
    var placeIDsToCoords = data["PLACEIDSTOCOORDS"];
    var placeIDsToNames = data["PLACEIDSTONAMES"];
    var placesMentioned = data["PLACESMENTIONED"];
    var textsFromPlace = data["TEXTSFROMPLACE"];
    var countries = data["COUNTRIES"];
    var max_country_weight = data["MAX_COUNTRY_WEIGHT"];
    var startDate = data["STARTDATE"];
    var endDate = data["ENDDATE"];
    </script>
    <script type="text/javascript" src="support/flightpaths.js"></script>
    <script type="text/javascript">
      window.onload = function () { generateSearch(); };
    </script>
  </body>
</html>

