<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" />
    <title>Geoparser: COLLECTION_NAME</title>
    <script type="text/javascript" src="support/html5slider.js"></script>
    <script type="text/javascript" src="DATA_PATH"></script>
    <link type="text/css" rel="stylesheet" href="support/button.css"/>
    <link type="text/css" rel="stylesheet" href="support/flightpaths.css"/>
    <script type="text/javascript" src="support/d3.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
    <div id="body">
      <div id="main">
        <div id="togLegend" class="btn">Toggle Legend</div>
        <div id="searches"><label for="searchTime" value="Time:"><input type="range" id="searchTime"/></label><span id="timeDisplay"></div>
        <h1>Flight Paths: COLLECTION_NAME</h1>
        <div id="heatmapArea">
        
        </div>

        
      </div>
    </div>
  <script type="text/javascript" src="support/flightpaths.js"> </script>
  </body>
</html>

