<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Index: COLLECTION_NAME</title>
    <link rel="stylesheet" href="support/jquery-ui.css" />
    <link rel="stylesheet" href="support/bootstrap.min.css" />
    <script type="text/javascript" src="support/d3.js"></script>
    <script type="text/javascript" src="support/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="support/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="support/jquery-ui.js"></script>
    <script type="text/javascript" src="DATA_PATH"></script>
</head>
<body>
<div class="container">
    <h1>Enter search query:</h1>
    <div class="row">
        <div class="span12">
            <input type="text" id="query"/>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div id="results"></div>
        </div>
        <div class="span4">
            <div id="summary"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="support/bootstrap.min.js"></script>
<script type="text/javascript" src="support/index.js"></script>
</body>
</html>