<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8" />
    <title>Topic Modeling: COLLECTION_NAME</title>
    <script type="text/javascript" src="support/d3.js"></script>
    <script type="text/javascript" src="support/innersvg.js"></script>
    <script type="text/javascript" src="support/d3.layout.cloud.js"></script>
    <link type="text/css" rel="stylesheet" href="support/stream.css"/>

    <script type="text/javascript">
    var data = TOPICS_DOCS;
    var docMetadata = DOC_METADATA;
    var labels = TOPIC_LABELS;
    var topicCoherence = TOPIC_COHERENCE;
    var topicCorrelations = TOPIC_CORRELATIONS;
    var topicStdevs = TOPIC_STDEVS;
    var topicProportions = TOPIC_PROPORTIONS;
    var categorical = CATEGORICAL;
    var index = ###INDEX###;
    var tags = TAGS;
    </script>
    <link type="text/css" rel="stylesheet" href="support/button.css"/>
  </head>
  <body>
    <div id="popupLayer"></div>
    <div id="chart">
      <div id="controls">
        <button class="first last" onclick="showMore()">
          More
        </button>
        <button class="first last" onclick="legendToggle()">
          Legend
        </button><p>
        <button class="first last" onclick="reset()">
          Reset
        </button>
        <button class="first last" onclick="save()">
          Save
        </button><p>
        <div id="searches">
        </div>
    </div>
    <p>
    </div>
    <script type="text/javascript" src="support/stream.js"></script>
  </body>
</html>
