<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Mutual Information: COLLECTION_NAME</title>
    <script type="text/javascript" src="support/d3.js"></script>
	<script type="text/javascript" src="support/html5slider.js"></script>
	<script type="text/javascript">
	var nodes = NODES;
	var edges = EDGES;
	</script>
</head>
<body>
<div><input type="range" id="MIthreshold" step="0.1"/><span id="MIthresholdLabel"></span></div>
<script type="text/javascript" src="support/mutual.js"></script>
</body>
</html>