<html>
<head>
  <meta charset="UTF-8" />
  <title>Phrase Net: COLLECTION_NAME</title>
  <script src="support/d3.v2.js"></script>
  <script src="support/d3.layout.cloud.js"></script>
<style type="text/css">
body {
  font: 12pt sans-serif;
  margin: 1em;
}

h1 {
  position: fixed;
  top: 1em;
  left: 1em;
}
.link {
  stroke: #000;
  fill: none;
}
.node {
  text-anchor: middle;
}
</style>
</head>
<body>
<script type="text/javascript">
var data = DATA;
var pattern = PATTERN;
</script>
<script type="text/javascript" src="support/phrasenet.js"></script>
</body>
</html>
