<!DOCTYPE html>
<html>
  <head>
<script src="d3.v2.js"></script>
<script src="d3.layout.cloud.js"></script>
</head>
<body>
<script>
var fontSize = d3.scale.log().range(FONTSIZE);

var color = function () { return TOPIC_COLOR;};

var data = DATA;

var width = WIDTH, height = HEIGHT;

var font_family = "Palatino";

var vals = data.map(function (d) { return +d.value});
fontSize.domain([d3.min(vals), d3.max(vals)]);

var layout = d3.layout.cloud().size([width, height])
    .words(data)
    .timeInterval(10)
    .rotate(function() { return ~~(Math.random() * 2) * 90; })
    .font(font_family)
    .fontSize(function(d) { return fontSize(+d.value); })
    .on("end", draw)
    .start();

function saveSVG() {
  var xml = "<svg xmlns='http://www.w3.org/2000/svg'><style>";
    for (i in document.styleSheets) {
          for (j in document.styleSheets[i].cssRules)
            if (typeof(document.styleSheets[i].cssRules[j].cssText) != "undefined")
              xml += document.styleSheets[i].cssRules[j].cssText;
    }

    xml += "</style>";  
    xml += d3.select("svg")[0][0].innerHTML;
    xml += "</svg>";
    window.location.href = "data:application/svg+xml," + encodeURIComponent(xml);
}
  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + width/2 + "," + height/2 + ")")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", font_family)
        .attr("text-anchor", "middle")
        .style("fill", function (d) { return color(~~(Math.random() * 10));})
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] +")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
    saveSVG();
  }
</script>
</body>
</html>