<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Paper Machines</title>
    
    <script type="application/javascript">
    <!--
    var pmhash = "sha1:1f51f1ad8b2d68485684942e6239cd2c20ca27df";
    function install (aEvent)
    {
      var params = {
        "Paper Machines": { URL: aEvent.target.href,
//                 IconURL: aEvent.target.getAttribute("iconURL"),
                 Hash: pmhash, // aEvent.target.getAttribute("hash"),
                 toString: function () { return this.URL; }
        }
      };
      if ("InstallTrigger" in window) {
        InstallTrigger.install(params);
        return false;
      } else {
        return true;
      }

    }
    -->
    </script>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Paper Machines</h1>
        <p>A Zotero extension for analysis and visualization in the digital humanities.</p>
        <p class="view"><a href="http://github.com/chrisjr/papermachines">View the Project on GitHub <small>chrisjr/papermachines</small></a></p>
        <ul>
          <li onclick="return install(event);"><a onclick="return install(event);" href="http://www.papermachines.org/download/papermachines-0.4.8.xpi">Install <strong>Extension</strong></a></li>
          <li><a href="examples.html">View <strong>Examples</strong></a></li>
          <li><a href="http://github.com/chrisjr/papermachines">Fork on <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="http://github.com/chrisjr">Chris Johnson-Roberson</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
